.CardFront {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 250ms ease-in-out;
}

.CardFront.hidden {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.CardFront > .CardFront-header {
    width: 100%;
    font-size: 1em;  
    text-align: center;
}
