.App {
  text-align: center;
  width: 100vw;
  margin-bottom: 64px;
  
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.List {
  width: 100%;
  min-height: 100vh;
  white-space: unset;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Loading {
  animation: Loading-spin infinite 500ms;
}

.App-link {
  color: #61dafb;
}

@keyframes Loading-spin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
